:root {
    --bg-color: #f0e9df;
    --primary-color: #637e5e;
    --font-color: #637e5e;
    --heading-color: #637e5e;
    --highlight-color: #99B590;
    --ui-bg-color: white;
}

[theme="dark"] {
    --bg-color: #001524;
    --primary-color: #1f4d66;
    --font-color: #c0ccb8;
    --heading-color: #c0ccb8;
    --highlight-color: #1f4d66;
    --ui-bg-color: #001524;
}

* {
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    font-size: 15px;
    color: var(--font-color);
    user-select: none;
}

body {
    background-color: var(--bg-color);
}

body > * { /* all direct children of body are indented */
    margin-left: 20px;
}

h1 {
    font-weight: bold;
    font-family: monospace;
    font-size: 25px;
    color: var(--heading-color);
}

h2 {
    font-family: monospace;
}

a:not(#githubIcon):hover {
    background-color: var(--highlight-color);
}

input, select, button {
    background-color: var(--ui-bg-color);
    border: 1px solid silver;
}

::placeholder {
    color: var(--font-color);
}

em, strong, i, b {
    padding: 0;
    margin: 0;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
}

div > a {
    margin-right: 10px;
}

#githubIcon {
    display: inline-flex;
    margin-left: 5px;
}

#githubIcon svg {
    width: 32px;
    height: 32px;
    vertical-align: middle;
    object-fit: contain;
    margin-left: 0;
}

#logo { /* Logo styles are used if logo-container has a picture. */
    margin-top: 0;
    margin-bottom: 0;
}

#logo a {
    padding-top: 5px;
    padding-bottom: 5px;
}

#logo img {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
}

nav {
    padding: 0px;
    background-size: cover;
    margin-left: 0;
    margin-bottom: 30px;
}

nav * {
    margin-left: 0;
    font-size: 16px;
}

nav a {
    display: block;
    color: var(--font-color);
    padding: 10px;
    text-decoration: none;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
}

nav ul li.dropdown-list {
    position: relative;
}
 
nav ul li.dropdown-list > ul {
    position: absolute;
    top: 100%;
    left: 0;
    text-align: center;
    display: none;
    border: 1px solid var(--primary-color);
    border-top: 0 none;
    vertical-align: top;
}

nav ul li.dropdown-list:hover ul {
    display: block;
}