.info-card {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 5px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 5px;
    margin: 20px;
	grid-template-areas: 
		'title'
		'subtitle'
		'desc'
        'power';
	transition: 0.15s ease;
}

@media screen and (min-width: 900px) and (hover: hover) and (pointer: fine) {
	.info-card:hover {
		transform: translateY(-10px);
	}
}

.info-card h2, h3, div, p {
    margin: 15px;
}

.info-card .image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-card .left, .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.info-card h2 {
	grid-area: title;
    font-family: monospace;
    font-style: normal;
	font-weight: 700;
	font-size: 22px;
}

.info-card h3 {
	grid-area: subtitle;
	font-weight: 400;
	font-size: 20px;
}

.info-card p {
	grid-area: desc;
	margin-top: 10px;
}

.info-card .power {
    grid-area: power;
}