#lifeiszoo-bottom-desc {
    margin-bottom: 20px;
}

.toc-section-container, .info-card {
    padding-top: 0;
    padding-bottom: 0;
}

.toc-section-container .toc-entries {
    margin-left: 10px;
}

.toc-section-contaienr a {
    padding: 0;
}

/* Get rid of big gap between desc and entries */

#entriesContainer {
    padding-top: 0;
}

#entriesContainer .toc-section-container:first-of-type {
    padding-top: 0;
}

#entriesContainer .toc-section-container:first-of-type h1 {
    margin-top: 0;
}