#no-searches-msg:empty {
    display: none;
}

#clear-searches {
    margin-left: 40px;
}

select, input, button {
    font-size: 11px;
}

.multiselect-dropdown, multiselect-dropdown-list-wrapper {
    background-color: var(--ui-bg-color);
}