/*
.toc-section-container {
    margin: 10px 10px 40px 10px;
}

.toc-section-container > h1, p  {
    margin: 10px 10px 10px 0px;
}

.toc-section-container > div {
    margin-left: 15px;
}

a {
    
}
*/

#lifeiszoo-bottom-desc {
    margin-bottom: 20px;
}

toc-section-container, info-card {
    padding-top: 0;
    padding-bottom: 0;
}

div.toc-section-container {

}

/* Get rid of big gap between desc and entries */

#entriesContainer {
    padding-top: 0;
}

#entriesContainer .toc-section-container:first-of-type {
    padding-top: 0;
}

#entriesContainer .toc-section-container:first-of-type h1 {
    margin-top: 0;
}