:root {
    --sun-color: #FFFFFF;
    --window-border: #637e5e;
}

[theme="dark"] {
    --window-border: #000d1a;
}

#window-container {
    margin: auto;
    margin-top: 30px;
    width: 500px;
    height: 300px;
    border: 5px solid var(--window-border);
    overflow: hidden;
    position: relative;
}

#center-pt { /* for testing coord system of sun */
    width: 10px;
    height: 10px;
    background: red;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: none;
}

#sun {
    width: 80px;
    height: 80px;
    background: var(--sun-color);
    border-radius: 50%;

    position: absolute;
    left: -5px;
    top: -5px;

    opacity: 0;
}

@keyframes glow {
    50% {
        box-shadow: 0 0 20px var(--sun-color),
                    0 0 60px var(--sun-color),
                    0 0 150px var(--sun-color);
    }
}

@keyframes phaseChange {
    0% {
        --sun-color: #FFFFFF;
        background: #FFFFFF;
    }

    25% {
        --sun-color: #FFE484;
        background: #FFE484;
    }

    50% {
        --sun-color: #FFCC33;
        background: #FFCC33;
    }

    70% {
        --sun-color: #FC9601;
        background: #FC9601;
    }

    100% {
        --sun-color: #D14009;
        background: #D14009;
    }
}